@model IEnumerable<Movies_API_DJM.Models.Movies>

@{
    ViewData["Title"] = "Favorites";
}

<h1>Favorites</h1>

<p>
    <a asp-action="Search">Search Movies</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.imdbID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.imdbID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.imdbID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
